@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
}

/* Selection Style */
::selection {
    background-color: #01A58A;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}

/* Scrollbar Style */
::-webkit-scrollbar { /* Scrollbar container */
    width: 10px; /* Width for vertical scrollbar */
    height: 10px; /* Height for horizontal scrollbar */
}
::-webkit-scrollbar-track { background: #f0f0f0; }
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: #555; }

.screenContainerDiv {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - (65px + 50px)); /* total screen height - (navBar height - footer height) */

    /* px-7 class of tailwind */
    padding-left: 1.75rem; /* 28px */
    padding-right: 1.75rem; /* 28px */

    /* py-10 class of tailwind */
    padding-top: 2.5rem; /* 40px */
    padding-bottom: 2.5rem; /* 40px */

    color: black;
}
