@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
}

/* Selection Style */
::selection {
    background-color: #01A58A;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}

/* Scrollbar Style */
::-webkit-scrollbar { /* Scrollbar container */
    width: 10px; /* Width for vertical scrollbar */
    height: 10px; /* Height for horizontal scrollbar */
}
::-webkit-scrollbar-track { background: #f0f0f0; }
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: #555; }
